@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: 0; }

.color {
  color: white; }

body {
  background: -webkit-gradient(#ffe8eb, #f5aeae); }

.menu {
  background-color: rgba(240, 240, 240, 0.452);
  display: flex;
  font-weight: bold;
  color: white; }
  .menu .titulo {
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: flex-start; }
    .menu .titulo img {
      border-radius: 60px; }
    .menu .titulo h2 {
      margin: 0 auto;
      margin-left: 20px;
      color: black; }
  .menu .submenu {
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: flex-end; }

.nosotros {
  margin: 20px auto;
  padding: 15px;
  width: 100%;
  background-color: #f3c5e4; }
  .nosotros .titulo__nos {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif; }
  .nosotros .texto__nos {
    padding: 10px;
    margin: 20px auto;
    width: 50%;
    background-color: rgba(250, 241, 255, 0.733);
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif; }

.manos {
  width: 100%;
  /* Ocupa todo el ancho disponible */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Crea dos columnas del mismo tamaño */
  grid-template-rows: 1fr;
  /* Crea una sola fila */ }
  .manos .logo_manos {
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centra el contenido vertical y horizontalmente */ }
    .manos .logo_manos .img_manos {
      max-width: 100%;
      margin: 20px;
      border-radius: 20px; }
  .manos .descripcion_manos {
    padding: 20px;
    margin: 20px 20px 20px 0px;
    background-color: aquamarine;
    border-radius: 20px;
    align-self: center;
    justify-self: center;
    /* Centra el contenido vertical y horizontalmente */
    width: 100%;
    max-height: 62.5vh; }
    .manos .descripcion_manos .titulo_manos {
      display: flex;
      justify-content: center;
      font-family: 'Playfair Display', serif; }
    .manos .descripcion_manos .texto_manos {
      display: flex;
      justify-content: center;
      font-family: 'Montserrat', sans-serif; }

.facial {
  width: 100%;
  /* Ocupa todo el ancho disponible */
  display: flex;
  justify-content: space-between;
  /* Alinea los contenedores y les da separación */
  align-items: center; }
  .facial .logo_facial {
    margin: 20px;
    padding: 20px;
    flex: 1;
    /* Hace que el contenedor tenga el mismo tamaño que .descripcion_facial */ }
    .facial .logo_facial .img_facial {
      max-width: 100%;
      margin: 20px;
      border-radius: 20px; }
  .facial .descripcion_facial {
    padding: 20px;
    margin: 20px;
    background-color: aquamarine;
    border-radius: 20px;
    max-width: 100%;
    max-height: 62.5vh;
    flex: 1;
    /* Hace que el contenedor tenga el mismo tamaño que .logo_facial */ }
    .facial .descripcion_facial .titulo_facial {
      display: flex;
      justify-content: center;
      font-family: 'Playfair Display', serif; }
    .facial .descripcion_facial .texto_facial {
      display: flex;
      justify-content: center;
      font-family: 'Montserrat', sans-serif; }
