@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    margin: 5% 0 0 0;
    background-color: #ffdded;
    .grupo-1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:50px;
        padding: 45px 0px;
        .box figure{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            img{
                max-width: 150px;
                border-radius: 5px;
            }
        }
        .box h2{
            color: #000000;
            margin-bottom: 25px;
            font-size: 20px;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
        }
        .box p{
            color: #000000;
            margin-bottom: 10px;
            font-family: 'Montserrat', sans-serif;
        }
        .red-social a{
            display: inline-block;
            text-decoration: none;
            width: 45px;
            height: 45px;
            line-height: 45px;
            color: #000000;
            margin-right: 10px;
            background-color: #0d2033;
            text-align: center;
            transition: all 300ms ease;
            &:hover{
                color: aqua;
            }
        }
    }

    .grupo-2{
        background-color: #fcb0d3;
        padding: 15px 10px;
        text-align: center;
        color: #000000;
        small{
            font-size: 15px;
        }
    }
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}