:root{
    --colortextos: #777777;
    --colorbotones: #8c2574;
    --colorfondo: #A381F2;
    --paddingsecciones: 60px 0;
    --marginelementos: 40px;
}

.contenedor{
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--paddingsecciones);
}

.menu_navegacion{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.164);
    width: 100vw;
    .logo{
        height: 70px;
        img{
            display: block;
            height: 100%;
        }
    }
    li{
        list-style: none;
        display: inline-block;
    }
    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        padding-left: 15px;
        font-weight: bold;
        &:hover{
            text-decoration: underline solid;
            
        }
    }
}

.hero{
    height: 500px;
    background-image: url("../assets/template2.jpg");
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    .contenedor_textos{
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .titulo__nos{
            display: flex;
            justify-content: center;
            font-family: 'Playfair Display', serif;
            color: white;
        }
        .texto__nos{
            width: 100%;
            padding: 10px;
            background-color: rgba(250, 241, 255, 0.452);
            border-radius: 5px;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
        }
        .boton{
            display: flex;
            margin: 0 auto;
            padding: 1%;
            background: var(--colorbotones);
            color: white;
            text-decoration: none;
            border-radius: 5px;
            justify-content: center;
            &:hover{
                color: white;
                text-decoration: underline;
                border-color: white;
                border-style: double;
            }

        }
    }
}

@media (max-width: 768px) {
  .hero {
    height: 400px;
    background-size:cover;
    background-position: center 20vw
  }}