:root{
    --colortextos: #777777;
    --colorbotones: #8c2574;
    --colorfondo: #A381F2;
    --paddingsecciones: 60px 0;
    --marginelementos: 40px;
}

.contenedor{
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--paddingsecciones);
    
}

.menu_navegacion{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    position: fixed;
    background-color:rgb(255, 246, 250);
    width: 100vw;
    .logo{
        height: 70px;
        img{
            display: block;
            height: 100%;
        }
    }
    li{
        list-style: none;
        display: inline-block;
    }
    a{
        text-decoration: none;
        color: rgb(51, 51, 51);
        padding-left: 15px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2rem;
        &:hover{
            text-decoration: underline solid;
            
        }
    }
}
.banner_titulo{
    .banner_header{
        margin: 0 auto;
        display: flex;
        width: 100%;
        justify-content: center;
        position: relative;
        z-index: -1;
    }
    .h1{
        margin: 0 auto;
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        display: flex;
        justify-content: center;

    }
}
